<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <img src="https://res.cloudinary.com/deupkdvle/image/upload/v1688202826/java6/logo.png" alt="hình ảnh" height="70" width="150">
            </a>
            <p>Hynee là một trang web bán hàng, mang đến cho bạn một kho trữ lượng sản phẩm đa dạng và phong phú.
                Với sự đa dạng về danh mục sản phẩm, chúng tôi tự hào mang đến cho bạn trải nghiệm mua sắm hoàn hảo
                về quần áo.
                Chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng và đáng tin cậy từ các thương hiệu hàng
                đầu. </p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Tòa nhà QTSC9 (toà T), đường Tô
                Ký, phường Tân Chánh Hiệp, Quận 12, TP HCM</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>hoangnhps23306@fpt.edu.vn</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Dịch vụ khách hàng</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <div>
                            <a class="text-dark mb-2" href="index.html">
                                <i class="fa fa-angle-right mr-2"></i>Chính sách điều khoản
                            </a>
                        </div>
                        <div>
                            <a class="text-dark mb-2" href="shop.html">
                                <i class="fa fa-angle-right mr-2"></i>Hướng dẫn mua hàng
                            </a>
                        </div>
                        <div>
                            <a class="text-dark mb-2" href="detail.html">
                                <i class="fa fa-angle-right mr-2"></i>Chính sách thanh toán
                            </a>
                        </div>
                        <div>
                            <a class="text-dark mb-2" href="cart.html">
                                <i class="fa fa-angle-right mr-2"></i>Chính sách đổi trả
                            </a>
                        </div>
                        <div>
                            <a class="text-dark mb-2" href="checkout.html">
                                <i class="fa fa-angle-right mr-2"></i>Hệ thống cửa hàng
                            </a>
                        </div>
                        <div>
                            <a class="text-dark" href="contact.html">
                                <i class="fa fa-angle-right mr-2"></i>Q&A
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Liên hệ</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <div>
                            <a class="text-dark mb-2" href="index.html">
                                <i class="fa fa-angle-right mr-2"></i>Hotline
                            </a>
                        </div>
                        <div>
                            <a class="text-dark mb-2" href="shop.html">
                                <i class="fa fa-angle-right mr-2"></i>Email
                            </a>
                        </div>
                        <div>
                            <a class="text-dark mb-2" href="contact.html">
                                <i class="fa fa-angle-right mr-2"></i>Liên hệ
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                required="required" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe
                                Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col px-xl-0">
            <p class="mb-md-0 text-center text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">Hynee</a>. All Rights Reserved.
                Designed by
                <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">Team Hoàng An Bảo</a><br>
                Distributed By <a href="https://themewagon.com" target="_blank">FPT Polytechnic</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->