@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root {
  --red-color: #ac2f33;
  --back-color: #2e1f20;
}
/* header nav */
.bi {
  font-size: 1.5rem;
  color: var(--back-color);
}
#header .navbar-toggler:focus,
.btn-close {
  box-shadow: none !important;
}

.offcanvas .menu-nav .nav-link {
  font-size: 0.9rem;
}

.offcanvas .menu-nav .nav-link.active {
  color: var(--red-color);
}

.offcanvas .menu-nav .nav-link:not(.active) {
  color: var(--back-color);
}

::placeholder {
  color: var(--back-color) !important;
  font-variant: small-caps;
}

.form-search .form-control {
  padding-left: 35px !important;
}
.form-search .form-control:focus {
  border: 1px solid darkgray !important;
}
.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 768px) {
  .menu-nav > .nav-item:hover > div {
    display: block;
    transition: 0.2s;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 768px) {
  .menu-nav > .nav-item {
    width: 100%;
  }
}

.menu-nav > .nav-item > .menu-item::after {
  content: "+";
  position: absolute;
  left: 90%;
  font-weight: bolder;
}

.menu-nav > .nav-item > div {
  transform: translate(0, 50px);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}
