<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="https://heis.vn/storage/uploads/article/2021/06/02/60b777ab0a653.jpeg" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Nam</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="https://qnct.edu.vn/ao-khoac-vest-nu-dep/imager_1_27638_700.jpg" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Nữ</h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->


<!-- Products Start hangmoi -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2 text-capitalize">Hàng mới</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="position-relative">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center"  >
                        <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688553899/java6/%C3%81o/Nam/%C3%81o%20polo/Sp01/1.1_nteah9.jpg" alt="" >
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">Áo Polo Kẻ Viền</h6>
                        <a href="#" class="d-flex justify-content-around text-decoration-none stretched-link">
                            <div class="d-flex">
                                <h6 class="mx-2">$123.00</h6>
                                <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                <!-- <span class="rounded-pill badge-danger mx-2 px-2"
                                    style="font-size: 10px; height: 20px; display: grid; align-items: center;">
                                    50%
                                </span> -->
                            </div>
                            <div>
                                <button class="btn bg-danger rounded-circle btn-color"
                                    style="width: 25px;height: 25px;"></button>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554919/java6/%C3%81o/N%E1%BB%AF/Qu%E1%BA%A7n%20Jean/1.1_vkvss4.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Quần Jean Lưng Cao</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688569962/java6/Qu%E1%BA%A7n/Nam/1.1_ypbbvc.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Quần Tây Nam Kẻ Dáng Slim</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554810/java6/%C3%81o/N%E1%BB%AF/%C3%81o%20kho%C3%A1c/1.1_zhfufe.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Khoác Trend Coat</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554898/java6/%C3%81o/N%E1%BB%AF/Qu%E1%BA%A7n%20d%C3%A0i/1.1_kgbs6m.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Quần Baggy Cạp Phối Khuy</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554564/java6/%C3%81o/Nam/%C3%81o%20somi/Sp01/1.1_jr67gj.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Sơ Mi Trơn Basic</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554868/java6/%C3%81o/N%E1%BB%AF/%C3%81o%20thun/sp01/1.1_cpnvck.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Thun Tay Ngắn Kẻ Ngang </h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554598/java6/%C3%81o/Nam/%C3%81o%20thun/Sp01/1.1_cci5n2.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Thun Phối Túi Hộp</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->





<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod
                    duo labore labore.</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Subscribe End -->


<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2 text-capitalize">sản phẩm bán chạy</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688570954/java6/%C3%81o/Nam/%C3%81o%20polo/Sp02/1.1_jihjy5.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Polo Viền Cổ</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554832/java6/%C3%81o/N%E1%BB%AF/%C3%81o%20s%C6%A1%20mi/1.1_yjvbxo.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Sơ Mi Cổ Cao Phối Nơ</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688554715/java6/%C3%81o/Nam/Qu%E1%BA%A7n%20Khaki/1.1_wnbbjg.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Quần Khaki Nam</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688571723/java6/%C3%81o/N%E1%BB%AF/Qu%E1%BA%A7n%20Jean/1.1_r9cksz.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Quần Jeans Ống Đứng</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688574189/java6/%C3%81o/N%E1%BB%AF/%C3%81o%20thun/sp02/1.1_y8nvqx.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Thun Thêu Họa Tiết</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688571120/java6/%C3%81o/Nam/%C3%81o%20thun/Sp02/1.1_vpqdjb.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Thun A Journey </h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688574483/java6/%C3%81o/N%E1%BB%AF/%C3%81o%20kho%C3%A1c/1.1_jeqagm.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Khoác Dạ Dạng Ngắn</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 text-center">
                    <img class="img-fluid w-75" src="https://res.cloudinary.com/deupkdvle/image/upload/v1688571084/java6/%C3%81o/Nam/%C3%81o%20somi/Sp02/1.1_o6g8n3.jpg" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Áo Sơ Mi Kẻ Dáng Regular</h6>
                    <div class="d-flex justify-content-center">
                        <h6>$123.00</h6>
                        <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around bg-light border">
                    <a href="" class="btn text-dark font-weight-bold p-2 btn btn-light flex-fill">Add To
                        Cart</a>
                    <a href="" class="btn text-white font-weight-bold p-2 btn btn-danger flex-fill">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->
