<div class="container" *ngIf="isShow">
    <form class="form-signin rounded-sm shadow m-auto">
        <!-- Nav tabs -->
        <ul class="nav nav-pills mb-4">
            <li class="nav-item pill-1">
                <a class="nav-link active rounded-0" data-toggle="tab" href="#login">Đăng nhập</a>
            </li>
            <li class="nav-item pill-2">
                <a class="nav-link  rounded-0" data-toggle="tab" href="#register">Đăng ký</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

            <!-- Tab1 -->
            <form id="login" class="container tab-pane active" [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
                <div formGroupName="loginData">
                    <div class="mb-4">
                        <label for="inputPhone" class="sr-only">Số điện thoại</label>
                        <input type="text" id="inputPhone" formControlName="inputPhone" class="form-control "
                            placeholder="Số điện thoại">
                        <span class="text-danger"
                            *ngIf="formLogin.get('loginData.inputPhone').invalid && formLogin.get('loginData.inputPhone').touched">
                            <span *ngIf="formLogin.get('loginData.inputPhone').errors['required']">
                                Vui lòng nhập số điện thoại
                            </span>
                            <span *ngIf="formLogin.get('loginData.inputPhone').errors['numberIsForbidden']">
                                Vui lòng nhập số điện thoại đúng định dạng
                            </span>
                        </span>
                    </div>
                    <label for="inputPassword" class="sr-only">Mật khẩu</label>
                    <div class="mb-4">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu"
                            formControlName="inputPassword">
                        <span class="text-danger"
                            *ngIf="formLogin.get('loginData.inputPassword').invalid && formLogin.get('loginData.inputPassword').touched">
                            <span *ngIf="formLogin.get('loginData.inputPassword').errors['required']">
                                Vui lòng nhập mật khẩu
                            </span>
                        </span>
                    </div>
                    <div class="one-line mb-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <a class="forgot d-block text-center" href="#">Forgot password?</a>
                    </div>
                </div>
                <button class="btn btn-lg btn-dark btn-block" type="submit" [disabled]="!formLogin.valid">Login</button>
            </form>

            <!-- Tab2 -->
            <form id="register" class="container tab-pane fade" [formGroup]="formRegister">
                <div formGroupName="registerData">
                    <div class="mb-4">
                        <label for="inputRPhone" class="sr-only">Số điện thoại</label>
                        <input type="text" id="inputRPhone" class="form-control" formControlName="inputRPhone"
                            placeholder="Số điện thoại">
                        <span class="text-danger"
                            *ngIf="formRegister.get('registerData.inputRPhone').invalid && formRegister.get('registerData.inputRPhone').touched">
                            <span *ngIf="formRegister.get('registerData.inputRPhone').errors['required']">
                                Vui lòng nhập số điện thoại
                            </span>
                            <span *ngIf="formRegister.get('registerData.inputRPhone').errors['numberIsForbidden']">
                                Vui lòng nhập số điện thoại đúng định dạng
                            </span>
                        </span>
                    </div>
                    <div class="mb-4">
                        <label for="inputRPassword" class="sr-only">Mật khẩu</label>
                        <input type="password" id="inputRPassword" formControlName="inputRPassword" class="form-control" placeholder="Mật khẩu">
                        <span class="text-danger"
                            *ngIf="formRegister.get('registerData.inputRPassword').invalid && formRegister.get('registerData.inputRPassword').touched">
                            <span *ngIf="formRegister.get('registerData.inputRPassword').errors['required']">
                                Vui lòng nhập Mật khẩu
                            </span>
                        </span>
                    </div>

                    <div class="mb-4">
                        <label for="inputRCPassword" class="sr-only">Nhập lại mật khẩu</label>
                    <input type="password" id="inputRCPassword" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="inputRCPassword">
                        <span class="text-danger"
                            *ngIf="formRegister.get('registerData.inputRCPassword').invalid && formRegister.get('registerData.inputRCPassword').touched">
                            <span *ngIf="formRegister.get('registerData.inputRCPassword').errors['required']">
                                Vui lòng nhập lại mật khẩu
                            </span>
                        </span>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="Register-as-instructor"> Register as instructor
                        </label>
                    </div>
                    <button class="btn btn-lg btn-dark btn-block" type="submit">Register</button>
                </div>
            </form>
        </div>

    </form>
</div>